.logo{
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 50%;
    background-image: url(https://img.freepik.com/vektor-gratis/ikon-terpencil-perpustakaan-buku-teks_24877-83372.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
}